.ShuffleButton {
    width: 660px;
    height: 60px;

    margin-top: 80px;
    text-align: center;
    line-height: 60px;

    background-color: #25539c;
    color: #f2f2f2;
    outline: none;

    font-size: 25px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.ShuffleButton:hover {
    outline: #25539c solid 1px;
    background-color: #f2f2f2;
    color: #25539c;
}