@media (max-width: 1400px) {
    .MainWrap {
        width: 700px;
    }
}

.MainWrap {
    width: 1400px;
    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CardWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.InnerCardWrap {
    margin: 0px;
    padding: 0px;
    width: 690px;
    height: 260px;
    display: flex;
}